.paste-bin {
  padding: 5px 30px 10px 25px;
  background: #000;
  .editor {
    background: #000;
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
    height: 70vw;
    color: white;
  }
}
