.paste-bin {
  background: #0a0c11;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  .editor {
    display: flex;
    flex-flow: row wrap;
    min-height: 500px;
    .line-nos {
      background: #11101f;
      color: grey;
      display: flex;
      flex-flow: column wrap;
      padding: 0 0.2rem;
      span {
        padding: 0 0.2em;
        color: #62a9b9;
        font-size: 13px;
      }
    }

    textarea {
      background: #1a1930;
      flex: 1;
      border: 0;
      padding-left: 7px;
      color: white;
      line-height: 1.2;
      overflow: hidden;
      &:focus {
        outline: none;
      }
      font-size: 13px;
    }
  }
  //.editor {
  //  background: #0a0c11;
  //  border: none;
  //  overflow: auto;
  //  outline: none;
  //  box-shadow: none;
  //  resize: none;
  //  color: white;
  //  height: 100vw;
  //  font-size: 13px;
  //}
}
